<h2>Treasure Trove of Awesome Repositories</h2>
<hr />
<%= @repositories.each do |repository| %>
  <p> <%= repository.title %></p>
  <p> <%= repository.url %></p>
  <p> <%= repository.description %></p>
  <hr />
<% end %>